*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

/* Sign-up CSS */

.sign-up{
    display: flex;
    height: 40px;
    width: 100%;
    background-color: black;
    color: white;
    
}
#sign-h6{
    color: white;
    margin-left: -50px;
    margin-top: -145px;
    letter-spacing: 1px;
}
/* .sign-box{
    color:blue;

} */


/* header CSS */

header{
    height: 80px;
    width: 100%;
    display: flex;
}

.logo{
    margin: 30px;
    margin-left: 70px;
}

.nav-items{
    display: flex;
    margin-left: 13%;
    
}

.logo-a{
    color: black;
    text-decoration: none;
    letter-spacing: 1px;
    padding: 32px 25px;
    cursor: pointer;
}
#shop{
    /* border-bottom: 1px solid red; */
    text-decoration: underline red;

}
#shop:hover{
    transition: all 1ms;
}

.logo-cart{
    height: 80px;
    width: 400px;
    border: 2px solid black;
}

/* Container CSS */
.container{
    height: 140px;
    width: 100%;
    background-color:#f3f2ee;
    padding: 40px 0;
}

.container h4{
    font-weight: 545;
    font-size: x-large;
    padding-left: 70px;
}

.container a{
    text-decoration: none;
    color: black;
    font-size: small;
    padding-left: 70px;
    line-height: 35px;
}

.container p{
    color: grey;
    font-size: small;
    padding-left: 120px;
    margin-top: -25px;
}

/* Content css */
.content{
    height: 100rem;
    width: 100%;
    /* background-color: pink; */
    margin-top: 7%;
    display: flex;
}

    /* left */

.left{
    width: 25%;
    height: 100%;
    border: 1px solid black;
    margin-left: 3%;
}

form input{
    height: 40px;
    width: 15rem;
    border: 1px solid grey;
    padding: 20px;
    opacity: 0.8;
}

form button{
    margin-left: -35px;
    position: absolute;
    margin-top: 6px;
    border: none;
    color: grey;
    cursor: pointer;
    font-size: x-large;
    opacity: 0.5;
}



    /*Right css  */
.right{
    height: 100%;
    width: 100%;
    border: 1px solid black;
}

.right p{
    font-weight:lighter;
    color: rgb(114, 114, 116);
    padding-left: 40px;
    padding-top: 10px;
}

.right #pr1{
    margin-top: -30px;
    float:right ;
    padding-right: 200px;
}

.right select{
    font-weight: bold;
    border: none;
    float: right;
    margin-right:100px;
    margin-top: -18px;  
}

#option{
    margin: 5px;
    border-radius: 1px;
    height: 80px !important
}

.product{
    height: 90%;
    width: 100%;
    border: 1px solid red;
    margin-top: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}

.prod{
    height: 250px;
    width: 250px;
    border: black 1px solid;
    margin-left: 40px;
}

#prod_1{
    background-image: url(/shopimg/product-2.jpeg);
    background-size: cover;
}
#prod_2{
    background-image: url(/shopimg/product-3.jpeg);
    background-size: cover;
}
#prod_3{
    background-image: url(/shopimg/product-4.jpeg);
    background-size: cover;
}
#prod_4{
    background-image: url(/shopimg/product-6.jpeg);
    background-size: cover;
}
#prod_5{
    background-image: url(/shopimg/product-7.jpeg);
    background-size: cover;
}
#prod_6{
    background-image: url(/shopimg/product-8.jpeg);
    background-size: cover;
}
#prod_7{
    background-image: url(/shopimg/product-9.jpeg);
    background-size: cover;
}
#prod_8{
    background-image: url(/shopimg/product-10.jpeg);
    background-size: cover;
}
#prod_9{
    background-image: url(/shopimg/product-11.jpeg);
    background-size: cover;
}
#prod_10{
    background-image: url(/shopimg/product-12.jpeg);
    background-size: cover;
}
#prod_11{
    background-image: url(/shopimg/product-13.jpeg);
    background-size: cover;
}
#prod_12{
    background-image: url(/shopimg/product-14.jpeg);
    background-size: cover;
}

.prod-1{
    height: 140px;
    width: 40px;
    position: absolute;
    margin-left: 190px;
    margin-top: 10px;
    /* display: none; */
}
.sin{
    height: 40px;
    width: 40px;
    padding-left: 10px;
    padding-top: 10px;
    background-color: white;
    cursor: pointer;
}
#sin-1{
    margin-top: 8px;
}

.prod p{
    color: red;
    font-size: small;
    cursor: pointer;
}

.prod1{
    height: 70px;
    width: 250px;
    border: 1px solid blue;
    margin-top: 249px;
    margin-left: -0.5px;
}
.prod1 p{
    color: black;
    margin-left: -40px;
}

.prod1 h3{
    margin-top: 10px;
}

.sale{
    height: 20px;
    width: 60px;
    background-color: black;
    color: white;
    padding-left: 10px;
    text-transform: uppercase;
    font-size: 12px;
    padding-top: 3px;
    margin-top: 20px;
    position: absolute  ;

}











/* footer CSS */

footer{
    height: 400px;
    width: 100%;
    background-color: #111111;
    margin-top: 200px;
}

.footer-logo{
    margin: 30px;
    margin-left: 60px;
    margin-top: 60px;   
}

.footer-p{ 
    color:  #b7b7b7;
    line-height: 24px;
    letter-spacing: 1;
    font-size: 13px;
    font-family: "Nunito Sans", sans-serif;
    font-weight: 340;
    margin-left: -22px;
    margin-top: -10px;
}

.pay-img{
    margin-left: 57px;
    margin-top: 30px;
    cursor: pointer;
}

.footer-h2-1{
    color:aliceblue;
    font-weight: 300;
    font-size: medium;
    font-family: "Nunito Sans", sans-serif;
    margin-left: 430px;
    margin-top: -170px;
    letter-spacing: 1px;
}

#p1{
    margin-left: -80px;
    margin-top: 13px;
    color:  #b7b7b7;
}
.footer-h2-2{
    color:aliceblue;
    font-weight: 300;
    font-size: medium;
    font-family: "Nunito Sans", sans-serif;
    margin-left: 670px;
    margin-top: -170px;
    letter-spacing: 1px;
}

#p2{
    margin-left: 590px;
    margin-top: 13px;
    color:  #b7b7b7;
}

.footer-h2-3{
    color:aliceblue;
    font-weight: 300;
    font-size: medium;
    font-family: "Nunito Sans", sans-serif;
    margin-left: 970px;
    margin-top: -167px;
    letter-spacing: 1px;
}

#p-ls{
    margin-left: 890px;
    margin-top: 13px;
}

#footer-mail{
    background-color: #111111;
    border: none;
    text-decoration: underline 2px white;
    width: 250px;
    margin-left: 940px;
}

.hr{
    height: 100px;
    width: 90%;
    margin-top: 120px;
    margin-left: 4.5%;
}

hr{
    margin-top: 50px;
}

#p-hr{
    color:  #b7b7b7;
    margin-left: 180px;
}

#p-hr2{
    color: red;
    font-weight:700;
    margin-left: 670px;
    margin-top: -27px;
}